img {
    display: block;
    margin: auto;
    
  }
  
  body{
     background: linear-gradient(75deg, dodgerblue, white, lightgreen);
     padding: 2px 10px;	
     border-radius :20px;
  
  
  }
  
  p {
    font-family: Apple Chancery, cursive;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
  }