:root {
    --lite_green: #96DD99;
    --granny_smith_apple: #A5E1A6;
    --celadon: #B3E5B3;
    --med_green: #52c41a;
    --tea_green: #C2E9BF;
    --teas_green: #D7F5D3;
    --light_green: #D9FFB3;
    --lig_green: #b9fc76;
    --a_green: #039c9e;
    --deep_voilet: #230C63; 
    --indigo_dye:#132B92;
    --lighter_blue:#8acafa;
}
h1 {
    background-color: var(--tea_green);
    color: var(--deep_voilet);
    text-align: center;
    font-weight: bold;
  
}
button{
    background-color: var(--light_green);
    border-radius: 15px;
    
}
button:hover{ 
    background-color: var(--lighter_blue);
  
}
body{
    background: linear-gradient(75deg, dodgerblue, white, lightgreen);
    padding: 2px 10px;	
    border :20px;
    font-family: URW Chancery L, cursive;
    font-size: 20px;
 
 
}
li{text-align:left;

}
.hob-fact{
    background-color: var(--tea_green);
}

h4{
    background-color: var(--teas_green);
    color: var(--deep_voilet);
    text-align: center;
    font-weight: bold;
  
}
.col-container {
    display: flex;
    justify-content: space-between;
    /* Change justify-content to center or space-around to adjust the position of the center image */
    justify-content: center;
    /* Add some spacing between the columns */
    padding: 0 20px;
  }
  
  .image-col {
    flex: 1;
  }
  
  .center-image {
    display: block;
    margin: 0 auto;
    
    margin-top: 100px;
  }
  
  .left-images img {
    float: left;
    margin-right: 10px;
  }
  
  .right-images img {
    float: right;
    margin-left: 10px;
  }
  